form{
  margin-left: 20px;
  color: black;
}
form label{
  margin-top: 10px;
}

form input, form textarea, form label{
  display: block;
}
form textarea{
  margin-bottom: 15px;
}
form input[type=radio]{
  display: inline;
  margin-bottom: 10px;
}

.error{
	color : red;
}