
header h1{
	font-size : 30px;
}

/** Hide the aside menu */
aside{
	display: none;
  	width: 0%;
}

/** Display a new button in the nav menu */
.mobile-only{
  display: inline-block;
}

/** The text take more space on the small screen */
.presentation{
	width : 95%;
	margin-bottom: 20px;
}

/** The button in the nav menu are not espaced by default and they must be in low screen width. */
nav li a{
  margin: 2px;
}

nav ul li{
	width : 20%;
	text-align : center;
}
nav ul li a{
	font-size : 13px ;
	padding-left: 13px;
}
nav ul li ul li{
	width : 85%;
}
/**
	Resize the image that  are too big.
*/
.fimage{
	width: 30px;
	right: 5px;
	top: 5px;
}

.timage{
	width: 30px;
	right: 40px;
	top: 5px;
}

#slider{
	display : none;
}

.mobile{
	display : inline-block;
}

.message{
	display : none;
}

.tabmobile{
	display : block;
}
.tabsite{
	display : none;
}

td{
	border: 1px solid black;
	color: white;
	font-size : 13px;
}
