/**
----------------------------------
	Div style used for positionning element. ( principaly footer, more information  on : http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page)
----------------------------------
*/
html,
body {
   height:100%;
}
body{
  background: url(../image/fresh_snow.png);
}
#containeur {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:80px;   /* Height of the footer  + some space*/
}

/**
----------------------------------
	HEADER
----------------------------------
*/
header{
	display : block;
	border-color : black;
	border-width : 2px;
	margin-bottom : 1px;
  background-repeat: repeat;
}
header h1{
	font-size : 70px;
	font-family: got;
	text-shadow : 2px 2px #000000;
  text-align : center;
}


/**
*	Navigation principale dans le header
*/
nav{

  padding : auto;
  border: 2px solid black;
  border-right:0px;
  border-left: 0px;
}
nav ul ul{
  position : absolute;
	top: 3.7em; left: 0;
  width : auto;
  max-height : 0px;
	margin: 0; padding: 0;
  overflow: hidden;
}

nav ul > li:hover ul{
	/* à adapter, le minimum est le meilleur mais voyez large 😉 */
  display : block;
  overflow : visible;
}

nav ul li ul li {
	position: relative;
	display:inline-block;
	width: auto;
	padding : auto;
	margin-bottom : 0px;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}

/** Added */


nav,
nav ul,
nav ul li,
nav ul li a {
  /** D'abord on retire les propriétés de bases qui peuvent nous gêner pour le postionnement */
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;/** le positionnement relatif va nous permetre de postionner les differente button avec ses propriétés comme left,bottom, etc ... */
  font-family: Capriola, Helvetica, sans-serif;
}
nav {
  /** petit padding pour décaler les boutons par rapport a la div */
  padding-bottom: 4px;
}
/* Ici il y a les différentes textures du menu de navigation */
nav #blue-bar,
nav #texture1,
nav #texture2,
nav #texture3 {
  /* On positionne ce éléments par rapport a un autre ( le block nav) donc le positionnement relatif sera ici le plus pratique */
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* La barre blue en bas du menu*/
nav #blue-bar {
  height: 10px;
  background: #0f71ba;
}

/** On repète des images granuleuses pour donner cet effet a la barre */
nav #texture1 {
  height: 59px;
  z-index: 2;
  background: url('../image/bg.png');
}
nav #texture2 {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('../image/bg.png');
}

/** Le dégradé noir de la bar */
nav #texture3 {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}

nav ul {
  height: 59px;
}
nav ul li {
  /** On affiche les boutons sur la gauche avec un float */
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /** Les ecritures sont devant les texture de fond */
  z-index: 5;
}
/* Style basique pour les liens ( pour les centrer, elenver leur décoration, etc ...) */
nav ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
/* ???? */
nav ul li:first-child,
nav ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
nav ul li:hover,
nav ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}

/* texture ajouté lors d'un active ou hover*/
nav ul li a:hover,
nav ul li.active > a {
  background: url('../image/bg.png');
  color: #ffffff;
}
/**
----------------------------------
	MAIN CONTAINER
----------------------------------
*/

#conteneur{
  color:#E6E6E6;
	display : block;
	border-style : solid;
	border-color : black;
	border-width : 2px;
	background: url(../image/low_contrast_linen.png);
	padding-left: 20px;
	margin-top: 5px;

  -webkit-box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);
  -moz-box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);
  box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);

}
#article{
  color:#E6E6E6;
  display : block;
  border-style : solid;
  border-color : black;
  border-width : 2px;
  background: url(../image/low_contrast_linen.png);
  padding-left: 20px;
  margin-top: 5px;

  -webkit-box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);
  -moz-box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);
  box-shadow: 14px -7px 31px 21px rgba(0,0,0,0.68);
}

/* permet d'éviter que les liens s'affichent en bleu */
.lWiki{
  color : white;
}
#section1{
	display : inline-block;
}

.presentation{
	display : inline-block;
	width : 75%;
	margin-bottom: 20px;
}

/**
 Le wrap nous permet de choisir une distance entre les articles et le menu de droite qui s'adapate automatiquement a la taille de la page
*/
wrap{
	display : inline-block;
	width : 2%;
	margin : 0;
}

/**
 Aside est le menu situé a droite.
*/
aside{
	display: inline-block;
	width: 20%;
	position: absolute;
	margin: 30px auto auto;
	height : 170px;
	border : 2px solid black;
	border-radius: 10px;
  background-color: white;
	background-image: url(../image/wikipedia.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #0099FF;
}

aside h3{
	text-align : center;
  font-size: 30px;
}
.liens li a{
  color: 	white;
  text-decoration: none;
	display: block;
	border: 2px solid black;
	margin: auto;
	margin-bottom: 7px;
	padding : 2px;
	text-align: center;
	background: rgba(120,120,120, 0);
	width : 60%;
	border-radius : 8px;
  background: url(../image/low_contrast_linen.png);
}
.liens li a:hover{
	background: rgba(120,120,120, 0.5);
}
.liens{
	list-style: none;
	padding: 0px;
}


/**
----------------------------------
	FOOTER
----------------------------------
*/

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
   background:#6cf;

	 text-align: center;
	 border-style : solid;
	 border-color : black;
	 border-width : 2px;
	 background: url(../image/fake_brick_@2X.png);
	 margin-top : 10px;
}

footer p{
	display: inline-block;
	margin-right: 10px;
	color : white;
}

footer a{
  display : block;
  color : white;
}
/**
----------------------------------
	OTHERS
----------------------------------
*/


/* Les polices
*/
@font-face {
    font-family: 'AlexBrushRegular';
    src: url('../font/AlexBrush-Regular-OTF-webfont.eot');
    src: url('../font/AlexBrush-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/AlexBrush-Regular-OTF-webfont.woff') format('woff'),
         url('../font/AlexBrush-Regular-OTF-webfont.ttf') format('truetype'),
         url('../font/AlexBrush-Regular-OTF-webfont.svg#AlexBrushRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'got';
  src: url('../font/Game of Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Capriola);


/**
	Bouton facebook et twitter flotant.
*/
.fimage{
	position: fixed;
	right: 20px;
	top: 20px;
  z-index: 5;/** usefull for smartphone, it's avoid the button to be behind the menu */
}

.timage{
	position: fixed;
	right: 110px;
	top: 20px;
  z-index: 5;
}

/**
* Style for that hide mobile element
*/
.mobile-only{
  display: none;
}

.mobile{
  display : none;
}
