#preload{
  background: url(../image/header.jpg), url(../image/footer_lodyas.png);
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: fixed;
}
#preload input{
  position: fixed;
  text-align: center;
}
