
#conteneur video{
  display: inline-block;
  width: 50%;
	padding : 10px 10px 10px 10px;
	margin: auto;

}
#conteneur p{
  display: inline-block;
  width: 38%;
  vertical-align: top;
  text-align: center;
}
